.searchPanel__main {
    padding: 15px 40px 100px;
    /* height: 500px; */
    margin: 0 auto;
    background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/jTiQAusGG4dVLSb1WHme9I9R4NN.jpg');
    background-size: cover;
}

.title h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    color: white;
    padding-top: 30px;
    margin-bottom: 2px;
}

.title h3 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
    color: white;
    padding-bottom: 50px;
}

form.formSearch{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
input.inputSearch {
    outline: none;
    border: none;
    height: 3em;
    border-radius: 30px;
    padding: 0 2%;
    width: 90%;
    font-size: 1em;
    font-weight: 400;
    color: gray;
}
.buttonSearch{

    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    background-color:aqua;
    outline: none;
    border: none;
    width: 15%;
    height: 3em;
    background: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    color: white

}
